In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import time
import datetime

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import pylab
import scipy as sp
# import seaborn

plt.rc('figure', figsize=(10,6))

In [3]:
business_data = pd.read_csv('../dataset/business.csv', dtype=unicode)

In [4]:
business_data = pd.read_csv('../dataset/business.csv', dtype=unicode, usecols=["business_id" ,"name" ,"neighborhood" ,"address" ,"city" ,"state" ,"postal_code" ,"latitude" ,"longitude" ,"stars" ,"review_count", "categories"])

In [5]:
restaurants_business_data = business_data[business_data['categories'].str.contains("'Restaurants'")]

In [6]:
restaurants_business_data[0:3]

,postal_code,latitude,business_id,categories,name,neighborhood,review_count,state,address,city,stars,longitude
1,28215,35.23687,mLwM-h2YhXl2NCgdS84_Bw,"['Food', 'Soul Food', 'Convenience Stores', 'R...",South Florida Style Chicken & Ribs,Eastland,4,NC,2824 Milton Rd,Charlotte,4.5,-80.7419759
4,85016,33.5059283,duHFBe87uNSXImQmvBh87Q,"['Sandwiches', 'Restaurants']",Blimpie,NaN,10,AZ,4719 N 20Th St,Phoenix,4.5,-112.0388474
14,28105,35.135196,SDMRxmcKPNt1AHPBKqO64Q,"['Burgers', 'Bars', 'Restaurants', 'Sports Bar...",Applebee's,NaN,21,NC,9616 E Independence Blvd,Matthews,2.0,-80.7146829

In [8]:
restaurants_business_data.loc['review_count'] = restaurants_business_data['review_count'].astype(str).astype(int)

/Users/vamshedhar/miniconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
business_group = restaurants_business_data.groupby(['city'])['review_count'].sum().reset_index()

In [10]:
business_group_sorted = business_group.sort_values('review_count', ascending=False)

In [11]:
business_group_sorted

                                     city  review_count
298                             Las Vegas      849928.0
485                               Phoenix      302400.0
665                               Toronto      276881.0
594                            Scottsdale      164892.0
100                             Charlotte      141170.0
494                            Pittsburgh      114354.0
657                                 Tempe       85606.0
390                              Montr√©al       83311.0
236                             Henderson       75441.0
97                               Chandler       62644.0
365                                  Mesa       61792.0
113                             Cleveland       60011.0
329                               Madison       55406.0
207                               Gilbert       46594.0
210                              Glendale       38007.0
376                           Mississauga       29083.0
337                               Markham       25601.0
165                             Edinburgh       24478.0
479                                Peoria       19507.0
646                             Stuttgart       17562.0
436                       North Las Vegas       16882.0
95                              Champaign       16274.0
520                         Richmond Hill       13496.0
652                              Surprise       12689.0
216                              Goodyear       10899.0
445                            North York       10528.0
585                           Scarborough       10329.0
296                              Lakewood        9914.0
18                               Avondale        8467.0
683                               Vaughan        8462.0
..                                    ...           ...
561  Saint-Pierre-de-V√©ronne-√†-Pike-River           3.0
633             Ste-Therese-de-Blainville           3.0
562               Saint-Roch-De-L'achigan           3.0
631                             Ste-Adele           3.0
574                      Sainte-Madeleine           3.0
626                            St-Laurent           3.0
576                          Sainte-Marie           3.0
577                         Sainte-Marthe           3.0
581                        Sainte-th√©r√®se           3.0
619                           Springfield           3.0
501                            Portobello           3.0
486                        Phoenix Valley           3.0
292                               Lacolle           3.0
475                             Paw Creek           3.0
304                             Lavaltrie           3.0
332                             Mansfield           3.0
335                           Maple Grove           3.0
344                             Mc Donald           3.0
1                                Aberlady           3.0
394                                Mooers           3.0
399                                Morgan           3.0
668                               Tranent           3.0
406                           Mount Royal           3.0
409                       Mt. Oliver Boro           3.0
416                          N Ridgeville           3.0
425                        Neville Island           3.0
457                                   Oka           3.0
458                  Old Port of Montreal           3.0
466                              Ormstown           3.0
733                        √éle-des-Soeurs           3.0

[734 rows x 2 columns]

In [69]:
business_group_sorted.to_csv("restaurant_city_reviewcount.csv")

In [13]:
business_data = pd.read_csv('../dataset/business.csv', dtype=unicode, usecols=["business_id" ,"name" ,"city", "categories"])
review_data = pd.read_csv('../dataset/review.csv', usecols=['review_id', 'business_id', 'stars', 'text'])

In [14]:
review_data[0:3]

,review_id,text,business_id,stars
0,VfBHSwC5Vz_pbFluy07i9Q,My girlfriend and I stayed here for 3 nights a...,uYHaNptLzDLoV_JZ_MuzUA,5
1,3zRpneRKDsOPq92tq7ybAA,If you need an inexpensive place to stay for a...,uYHaNptLzDLoV_JZ_MuzUA,3
2,ne5WhI1jUFOcRn-b-gAzHA,Mittlerweile gibt es in Edinburgh zwei Ableger...,uYHaNptLzDLoV_JZ_MuzUA,3

In [15]:
list(business_data)

['business_id', 'categories', 'name', 'city']

In [16]:
business_review_data = business_data.merge(review_data, left_on='business_id', right_on='business_id', how='outer')

In [17]:
list(business_review_data)

['business_id', 'categories', 'name', 'city', 'review_id', 'text', 'stars']

In [18]:
restaurants_business_data = business_review_data[business_review_data['categories'].str.contains("'Restaurants'")]

In [107]:
cities = ['Las Vegas', 'Charlotte', 'Phoenix', 'Pittsburgh']

In [108]:
for city in cities:
    city_restaurants_business_data = restaurants_business_data.loc[restaurants_business_data['city'] == city]
    city_restaurants_business_data = city_restaurants_business_data[['text','stars']]
    city_restaurants_business_data.to_csv(city + "_review_data.csv")

In [105]:
city_restaurants_business_data

                                                      text  stars
17       So this place is in the c-store. A little skep...    4.0
18       South Florida resides on the east side of Char...    4.0
19       Amazing food!! I can't believe it almost taste...    5.0
20       Great soul food period , it's get no better, c...    5.0
3193     Waffles, sandwiches, and beer! Who ever though...    5.0
3194     Chicken waffle-wich.....are you kidding me? Wh...    5.0
3195     It wasn't what I was expecting walking in , bu...    5.0
3196     OMG! AWESOME PLACE! GET the deviled eggs! GET ...    5.0
3197     I was never going to jump on the "stuff on waf...    5.0
3198     The wafflewhich with chicken salad, I know, so...    5.0
3199     F≈´d at Salud is a great concept. You get to en...    5.0
3200     When you just need a really good sandwich in y...    4.0
3201     Nice gem in the heart of NODA! Amazing beer se...    5.0
3202     Expected a long line because Guy Fieri had thi...    5.0
3203     I hate to start a four star review with the ne...    4.0
3204     The Chicken and Waffle was delicious along wit...    5.0
3205     I moved in right next door to this establishme...    5.0
3206     Intimidator was excellent!  The only bad thing...    5.0
3207     Don't let the outside of this place scare you ...    5.0
3208     Alright, so... I didn't expect to be that impr...    5.0
3209     Wow! Yes! Chicken and Waffles.\n\nA friend tol...    5.0
3210     Fact: waffles make any sandwich better. It's s...    5.0
3211     I've eaten pretty much everything on the menu ...    5.0
3212     While trying the newest and freshest beers Cha...    4.0
3213     Two words: waffles rancheros.\n\nI stumbled up...    5.0
3214     This place blew me away. I'm not talking about...    5.0
3215     Okay, this is hands-down my new favorite place...    5.0
3216     Excellent place! It is tucked away next to the...    4.0
3217     The ONLY reason it's not 5is the seating, not ...    4.0
3218     Cool little divvy spot with an excellent menu ...    4.0
...                                                    ...    ...
4729905  Jade used to be great....had lunch there today...    1.0
4729906  THE BEST Asian Bistro in all of Charlotte!!!! ...    5.0
4729907  Many times over the past year I've tried to ca...    2.0
4729908  Definitely definitely favorite lunch place! Cr...    5.0
4729909  This place is amazing and always consistent!  ...    5.0
4729910  The general consensus of 3.5 stars is about ri...    4.0
4729911  Went here for lunch today with some co-workers...    4.0
4729912  I ate here two weeks ago.  The sushi was medio...    1.0
4729913  Another #Yelps10FirstsCLT visit today. I went ...    3.0
4729914  I have been here few times by now so I figured...    4.0
4729915  Cold food.  Returned twice.  Owner was a weeni...    1.0
4729916  An awesome sushi experience! Very diverse menu...    4.0
4729917  I felt compelled to write a review, after havi...    4.0
4729918  Hello Lady!  After reading the other reviews w...    3.0
4729919  I have since been back and have received excel...    5.0
4729920  I have eaten at Jade before and would rank it ...    1.0
4729921  great food...clean....best hot and sour soup I...    4.0
4729922  GOOD ROLLS, but not much else.\n\nOK, Jade had...    2.0
4729923  Service was ok. Food had great portions. OLD D...    2.0
4729924  Food was average, service below average.  Will...    1.0
4729925  Loved the Cherry Blossum Roll and the wait sta...    3.0
4736707  Delivered wrong pizza. On complaining they tel...    2.0
4736708  I had the worst experience in this store. I pl...    1.0
4736709  This is one of the best papa john's that I eve...    4.0
4736710  Middle of the afternoon delivery, and confirma...    2.0
4736711  I ordered the Heart shaped pizza and it was pr...    1.0
4736712  Papa John's used to be my favorite pizza place...    1.0
4736713  Our entire group was waiting on a pizza delive...    1.0
4736714  This is my husbands' favorite pizza place, I m...    1.0
4736715  some discounts are really worth... had the lar...    4.0

[141281 rows x 2 columns]

In [95]:
business_group = restaurants_business_data.groupby(['city'])['review_id'].count().reset_index()

In [98]:
business_group_sorted = business_group.sort_values('review_id', ascending=False)

In [99]:
business_group_sorted

                                     city  review_id
298                             Las Vegas     849883
485                               Phoenix     302403
665                               Toronto     276887
594                            Scottsdale     164893
100                             Charlotte     141281
494                            Pittsburgh     114382
657                                 Tempe      85601
390                              Montr√©al      83296
236                             Henderson      75436
97                               Chandler      62655
365                                  Mesa      61793
113                             Cleveland      60015
329                               Madison      55408
207                               Gilbert      46612
210                              Glendale      38003
376                           Mississauga      29087
337                               Markham      25601
165                             Edinburgh      24482
479                                Peoria      19507
646                             Stuttgart      17562
436                       North Las Vegas      16878
95                              Champaign      16279
520                         Richmond Hill      13495
652                              Surprise      12686
216                              Goodyear      10900
445                            North York      10532
585                           Scarborough      10331
296                              Lakewood       9911
683                               Vaughan       8465
18                               Avondale       8464
..                                    ...        ...
561  Saint-Pierre-de-V√©ronne-√†-Pike-River          3
633             Ste-Therese-de-Blainville          3
562               Saint-Roch-De-L'achigan          3
631                             Ste-Adele          3
574                      Sainte-Madeleine          3
626                            St-Laurent          3
576                          Sainte-Marie          3
577                         Sainte-Marthe          3
581                        Sainte-th√©r√®se          3
619                           Springfield          3
501                            Portobello          3
486                        Phoenix Valley          3
668                               Tranent          3
475                             Paw Creek          3
304                             Lavaltrie          3
332                             Mansfield          3
335                           Maple Grove          3
344                             Mc Donald          3
1                                Aberlady          3
394                                Mooers          3
399                                Morgan          3
733                        √éle-des-Soeurs          3
406                           Mount Royal          3
409                       Mt. Oliver Boro          3
416                          N Ridgeville          3
425                        Neville Island          3
457                                   Oka          3
458                  Old Port of Montreal          3
466                              Ormstown          3
487                                   Phx          2

[734 rows x 2 columns]

In [100]:
business_group_sorted.to_csv("restaurant_city_reviewcount_from_reviewid.csv")

In [118]:
city_restaurants_business_data = restaurants_business_data.loc[restaurants_business_data['city'] == 'Charlotte']

In [119]:
list(city_restaurants_business_data)

['business_id', 'categories', 'name', 'city', 'review_id', 'text', 'stars']

In [120]:
business_group = city_restaurants_business_data.groupby(['stars'])['review_id'].count().reset_index()

In [121]:
business_group

   stars  review_id
0    1.0      14912
1    2.0      14399
2    3.0      21021
3    4.0      42500
4    5.0      48449

In [122]:
city_restaurants_business_data['review_length'] = city_restaurants_business_data['text'].apply(lambda x: len(x))

/Users/vamshedhar/miniconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [123]:
list(city_restaurants_business_data)

['business_id',
 'categories',
 'name',
 'city',
 'review_id',
 'text',
 'stars',
 'review_length']

In [124]:
city_restaurants_business_data[0:3]

,business_id,categories,name,city,review_id,text,stars,review_length
17,mLwM-h2YhXl2NCgdS84_Bw,"['Food', 'Soul Food', 'Convenience Stores', 'R...",South Florida Style Chicken & Ribs,Charlotte,exUbigDEviVau7r6TQ24Ug,So this place is in the c-store. A little skep...,4.0,294
18,mLwM-h2YhXl2NCgdS84_Bw,"['Food', 'Soul Food', 'Convenience Stores', 'R...",South Florida Style Chicken & Ribs,Charlotte,cyYjLJjuvGngUR4mMI9eQQ,South Florida resides on the east side of Char...,4.0,667
19,mLwM-h2YhXl2NCgdS84_Bw,"['Food', 'Soul Food', 'Convenience Stores', 'R...",South Florida Style Chicken & Ribs,Charlotte,xrcatAnMw-li3EpnrkxOSw,Amazing food!! I can't believe it almost taste...,5.0,288

In [128]:
unbiased_charlotte_restaurants_business_data = city_restaurants_business_data.sort_values(['stars', 'review_length'], ascending=[True, True]).groupby('stars').head(14000).reset_index(drop=True)

In [130]:
unbiased_charlotte_restaurants_business_data[100:105]

,business_id,categories,name,city,review_id,text,stars,review_length
100,v4HpZFOU3mvIeuHLRSIi7g,"['Salad', 'Thai', 'Sushi Bars', 'Restaurants']",Bahn Thai,Charlotte,RfY2K3QNahhwe5veVdRQ4Q,"Very rude staff, very poor service. \n\nI woul...",1.0,86
101,38OrCpBBQG-dzhxfXrFQWQ,"['Burgers', 'Restaurants']",Zack's Hamburgers,Charlotte,5yKNhtSFk5uN9rtCrdJ3Gw,They used to be good in the late 1970 now they...,1.0,86
102,krlBwPboTImWFS1xwPr70Q,"['Japanese', 'Sushi Bars', 'Restaurants']",Mai Japanese Express,Charlotte,mddLXe8TkfpLCZlNF-AufQ,We went to our table and just as we sat down t...,1.0,86
103,ahGptHMIRIBXR9wzqZqZwA,"['Breakfast & Brunch', 'Restaurants']",Stock Car Cafe,Charlotte,UV3KDC1PxbKYrECihcLjzg,"Absolutely horrible....rude waitress, glasses ...",1.0,86
104,cMHgw40ldvUBxTYNeZjHQg,"['Restaurants', 'Barbeque', 'Southern']",Whisky River at the Airport,Charlotte,8rNYuEI4LlL9tXCN_oPqPg,Chili was nothing but a of cheese \nTaste was ...,1.0,86

In [131]:
city_restaurants_business_data = unbiased_charlotte_restaurants_business_data[['text','stars']]
city_restaurants_business_data.to_csv("charlotte_unbaised_review_data.csv")

In [133]:
city_restaurants_business_data.shape

(70000, 2)

In [135]:
unbiased_charlotte_restaurants_business_data.sort_values(['stars', 'review_length'], ascending=[True, False]).groupby('stars').head(2).reset_index(drop=True)

,business_id,categories,name,city,review_id,text,stars,review_length
0,0D6NKcLzVfQ3RcEPySmzDw,"['Sushi Bars', 'Japanese', 'Restaurants']",Masa Sushi & Asian Grill,Charlotte,5fhjgd2FseDsHFaqdnJjvw,Masa Sushi emailed me with an inquiry: \n\nWe ...,1.0,1695
1,fNWHcOdNAjuK7jpEsiYeNw,"['Barbeque', 'Restaurants', 'Tex-Mex']",Jolina Tex Mex Kitchen & BBQ,Charlotte,x8Mzo4HPtyu6lYmBET50Lg,I wanted to like this place. I really did. I...,1.0,1694
2,MGknXew849fglTVu8cV7EA,"['Bubble Tea', 'Vietnamese', 'Restaurants', 'F...",Pho Ngon,Charlotte,j3WdI0iigw8_9j69kZFaOg,"Unfortunately, management has changed at this ...",2.0,2274
3,ZX9eujPNUxqWEWYdr4Ulqg,"['Sandwiches', 'Food Trucks', 'Chicken Wings',...",The Mayobird,Charlotte,H2FCgq8pxAH0fPJ-a2FRHA,Charming place in the old Caribou coffee joint...,2.0,2274
4,1bXC3NewRsBL1gecvGXA-g,"['American (Traditional)', 'Restaurants', 'Nig...",Jackalope Jacks,Charlotte,pQFSVUndOyapuoSBPUY22Q,"Is it ok to call this place JJ's? If not, too ...",3.0,768
5,t8V_P7ZzRrhDQoqeoGVahQ,"['Nightlife', 'Cocktail Bars', 'Tapas/Small Pl...",The Cellar At Duckworth's,Charlotte,IybKbcdHhu4bg2fYAabAdA,"Okay, so the ambiance of this place is wonderf...",3.0,768
6,y1eeVRfJa22CCpUCeNfrSw,"['Restaurants', 'Vegetarian', 'Seafood', 'Thai']",Basil Thai Cuisine,Charlotte,uQbCu-BsI3-eP2179G2qcw,Went to the place one night for dinner. Locat...,4.0,302
7,ME6D5nLlfG0xZCtICOYDuw,"['French', 'American (New)', 'Restaurants', 'B...",Georges Brasserie,Charlotte,nzlexZMF72YIWw_Ca_vqmw,Very solid 4 stars. Went here for lunch and ha...,4.0,302
8,OgANEur7Bt8YJSd2uSm6yA,"['Italian', 'Pizza', 'Restaurants', 'Chicken W...",Pizza Hut,Charlotte,bGVrluBFIxDLczJLZUkF8g,Customer service was awesome for me. Pizza was...,5.0,209
9,H-PmFfqAzQtWTS0XeWC_lw,"['Restaurants', 'Greek', 'Mediterranean']",Greco Fresh Grille,Charlotte,gfCYLpQiUH5LpGfvPveadg,Love this place! (I personally like it more th...,5.0,209

In [ ]:
business_data = pd.read_csv('csv/business.csv', dtype=unicode)